* {
  margin: 0;
  box-sizing: border-box;
}
.bg {
  position: absolute;
  z-index: -1;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}
.card {
  position: absolute;
  margin: 5% 30%;
}
.title {
  color: white;
  letter-spacing: 1rem;
  width: 144%;
  margin-bottom: 10%;
}
.title img {
  margin-left: 59%;
}
.new-task__txt {
  width: 144%;
  height: 8vh;
  border-radius: 5px;
  border: none;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.attribution {
  position: absolute;
  bottom: 5%;
}
